<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left1_img">
              <img
                src="images/profile.png"
                width="156px"
                height="140px"
                alt=""
              />
            </div>
            <div class="left1_name"><%=user.name%></div>
            <div class="left1_prof"><%=user.profession%></div>
            <div class="left1_icons">
              <div class="left1_icon">
                <img src="icon/facebook.png" alt="" />
              </div>
              <div class="left1_icon">
                <img src="icon/instagram.png" alt="" />
              </div>
              <div class="left1_icon">
                <img src="icon/twitter.png" alt="" />
              </div>
              <div class="left1_icon">
                <img src="icon/linkedin.png" alt="" />
              </div>
              <div class="left1_icon">
                <img src="icon/youtube.png" alt="" />
              </div>
              <div class="left1_icon">
                <img src="icon/dribbble.png" alt="" />
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2"></div>
          <div class="marginer"></div>
          <div class="left_3"></div>
          <div class="marginer"></div>
          <div class="left_4"></div>
          <div class="marginer"></div>
          <div class="left_5"></div>
          <div class="marginer"></div>
        </div>
        <div class="center_frame"></div>
        <div class="right_frame"></div>
      </div>
    </div>
  </body>
</html>
